extends ../common/layout

block content
  h2.page-title 添加节点 
  .page-content
    .add-node
      form(class="layui-form",action="/admin/editNode",method="post")
        .layui-form-item
          label(class="layui-form-label") 节点名称
          .layui-input-block
            input(class="layui-input",type="text",name="node_name",lay-verify="required",autocomplete="off" placeholder="请输入节点名称")
        .layui-form-item
          .layui-input-block
            button(type="submit",class="layui-btn",lay-submit="",lay-filter="demo1") 立即提交
            button(type="reset",class="layui-btn layui-btn-primary") 重置 
        
block script   
  script(src="/admin/js/index.js",charset="utf-8")
