extends ../common/layout

block content
  h2.page-title 品牌列表
  .page-content
    table(class="layui-table",lay-even="",lay-skin="row")
      colgroup
        col(width="300")
        col
        col(width="200")
      thead
        tr
          th id
          th 品牌名称
          th 操作 
      tbody
        -lists.forEach((item) => {
          tr
            td #{item.brand_id} 
            td #{item.brand_name} 
            td
              button(class="layui-btn layui-btn-small layui-btn-normal js_btn",data-id=item.brand_id)
                i.layui-icon
                | 删除  
        -})
        
block script   
  script(src="/admin/js/brand.js",charset="utf-8")          

  
